#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal;
}

p {
    color: grey
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}