form#input {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;

    &:not(:first-of-type) {
        display: none
    }

    .steps {
        font-size: 1.2em;
        color: gray;
        margin-top: 10px;
        font-weight: normal;
        text-align: right;

        @media screen and (min-width:435px) {
            margin-bottom: 10px;
            margin-top: 0;
        }
    }
}

.form-card {
    text-align: left
}

input, 
textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

.action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;

    &:hover,
    &:focus {
        background-color: #311B92
    }
}

.action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;

    &:hover,
    &:focus {
        background-color: #000000
    }
}

.fieldlabels {
    color: gray;
    text-align: left
}

.steps {
    font-size: 1em;
    float: right;
    bottom: 0;
}

.fs-title {
    font-size: 150%;
}