<div id="input">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title"> Preview :</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step 4 - 4</h2>
            </div>
        </div>  <br>
        <div class="row">
            <label for=""> Email : </label> 
            <p class="col-12"> ihwan.mualana@students.amikom.ac.id </p>
        </div>
        <div class="row">
            <label for=""> Username : </label>
            <p class="col-12"> lana404 </p>
        </div>
        <div class="row">
            <label for=""> Password : </label>
            <p class="col-12"> t3sting </p>
        </div>
        <div class="row">
            <label for=""> Nama : </label>
            <p class="col-12"> Ihwan Mualana </p>
        </div>
        <div class="row">
            <label for=""> Contact No.: </label>
            <p class="col-12"> 080000000000 </p>
        </div>
        <div class="row">
            <label for=""> Alternate Contact : </label>
            <p class="col-12"> 09900989 </p>
        </div>
    </div>
    <button type="button" class="btn btn-dark btn-preview action-button" (click)="previewButton()"> Edit Data </button>
</div>
